.account-container {
  padding: 0;
  border-radius: 3px;
  overflow: hidden;
  max-width: 457px;
}

.account-modal-title {
  background-color: $nearwhite;
  padding: 25px;
  @include fontsize(24);
  
  @include flexbox((
    display: flex,
    justify-content: space-between,
    align-items: center
  ));
}

.account-modal-body {
  padding: 0 27px;
}

.account-modal-footer {
  text-align: center;
  margin-bottom: 27px;
}

.account-modal-close {
  @include blank-button;
}
