@import "compass/css3/flexbox";

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import "nypr-ui/vars";
@import "nypr-ui/buttons";

@import "nypr-account-modal";

.nypr-password-card,
.nypr-basic-info {
  .nypr-input {
    color: $darkergray;
    height: auto;
  }
  .nypr-input[disabled] {
    padding: 0;
    border: none;
  }
}

.nypr-account-confirm {
  @include btn;
  @include btn--blue;
  @include btn--large;
}

.nypr-account-cancel {
  @include blank-button;
  color: $blue;
}

.nypr-account-footer {
  @include flexbox((
    display: flex,
    justify-content: center
  ));
  
  @include mq($medium-and-up) {
    @include justify-content(flex-end);
  }
}

.nypr-account-footer-wrapper {
  @include flexbox((
    display: flex,
    justify-content: space-between,
    flex-basis: 150px
  ));
}

.nypr-account-link {
  text-decoration: none;
  color: $blue;
}
