@import "compass/css3/flexbox";

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import "nypr-ui/vars";
@import "nypr-ui/colors";
@import "nypr-ui/z-index";
@import "nypr-ui/buttons";

.nypr-account-settings-and-member-center {
  @include display-flex();
  @include flex-wrap(wrap);

  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.nypr-account-settings-body,
.nypr-membership-info-body {
  @include flex-grow(1);
  @include flex-shrink(0);
  @include flex-basis(480px);

  padding: 0.5rem;
  min-width: 50%;
}

.pledge-container,
.pledge-info,
.pledge-tools {
  @include display-flex;
  @include flex-direction(row);
}

.pledge-info-container {
  @include flex(1 0 200px);
}

.pledge-update-link {
  @include flex(0 0 100px);
}

.pledge-info,
.pledge-tools {
  margin-left: -0.4rem;
  margin-right: -0.4rem;

  div {
    margin: 0.4rem;
  }
}

.pledge-container {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 1rem;
}

.pledge-update-link {
  @include display-flex();
  @include justify-content(flex-end);
  @include align-items(center);
}

.active-donations-header,
.pledge-order-price,
.pledge-update-link,
.pledge-payment-history,
.pledge-tax-receipt,
.pledge-order-cc-type,
.pledge-help-link {
  font-size: 12px;
  color: #888;
  font-weight: 400;

  a {
    color: $blue;
    text-decoration: none;
  }
}

.pledge-fund {
  font-size: $base-font + px;
}

.pledge-donate-button {
  @include btn;
  @include btn--red;

  margin-top: 0;
}

.last-pledge-date {
  color: $darkergray;
  font-size: $base-font*0.875 + px;
}

.pledge-tools {
  @include justify-content(flex-end);

  a {
    color: #888;
  }
}

.pledge-history {
  font-size: 16px;
  color: $darkergray;
}

.pledge-premium {
  font-size: 12px;
  color: $lightgray;
}

.pledge-history-container {
  @include justify-content(space-between);
  @include align-items(center);

  margin-left: -4px;
  margin-right: -4px;
  padding-bottom: 10px;

  div {
    margin-left: 4px;
    margin-right: 4px;
  }

  .pledge-date {
    width: 100px;
  }

  .pledge-order-price {
    width: 30px;
  }

  .pledge-fund-and-premium {
    width: 180px;
  }

  .recurring-label {
    font-size: 12px;
    color: $lightgray;
    width: 60px;
  }
}


.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #CCC;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.pledge-order-info {
  animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
  from { opacity: 0.0; }
  to   { opacity: 1.0; }
}
