.nypr-tabs-tablist {
  margin-bottom: 20px;
}

.giving-history-header .pledge-payment-history-back-button {
  width: 100px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #888888;
  text-transform: uppercase;
}

.giving-history-header > span {
  margin: auto;
  left: -50px;
  position: relative;
}

.pledge-premium {
  font-size: 12px;
  color: $lightgray;
}

.pledge-history-container {
  justify-content: space-between;
  align-items: center;

  margin-left: -4px;
  margin-right: -4px;
  padding-bottom: 1rem;

  div {
    margin-left: 4px;
    margin-right: 4px;
  }

  .pledge-date {
    width: 100px;
  }

  .pledge-order-price {
    width: 30px;
  }

  .pledge-fund-and-premium {
    width: 180px;
  }
}

.giving-history-link {
  @include small-gray-font;

  border: none;
  background: none;
  cursor: pointer;
  padding-right: 12px;
}

.tax-letter-link {
  @extend .giving-history-link;

  text-decoration: none;
  display: flex;
  align-items: center;
}

.tax-letter-link span {
  pointer-events: none;
}

.tax-letter__download-icon {
  fill: #8f8f8f;
  height: 15px;
  margin-right: 3px;
  pointer-events: none;
}

.giving-history-limit-notification {
  @include small-gray-font;

  font-style: italic;
}

.nypr-membership-info-body .nypr-tabs .nypr-tabs-tablist {
  .ivy-tabs-tab {
    border-color: $lightestgray;
  }

  .tablist-buffer {
    border-bottom: 1px solid $lightestgray;
  }
}
