<div class="l-gray">
  <div class="l-constrained">
    <h1>Hi {{model.givenName}}!</h1>
    <h2>Account Settings</h2>

    {{basic-info user=model checkPassword=checkPassword}}
    {{password-card}}
    
  </div>
</div>  
