<div class="l-gray">
  <div class="l-constrained">
    <h1>Hi {{model.givenName}}!</h1>
    <h2>Account Settings</h2>

    {{nypr-accounts/basic-card user=model authenticate=authenticate}}
    {{nypr-accounts/password-card}}
    
  </div>
</div>  
